{% extends 'main.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container-md">
    <h2>Delete Category {{ category_name }} in offer {{ offer_name }} </h2>

    <form method="POST">
        {% csrf_token %}
        <p>Are you sure that you want to delete the category "{{category_name}}"?</p>
        <div>
            <button type="submit" class="btn btn-primary">Yes, Delete</button>

        </div>
    </form>
    <button type="submit" class="btn btn-primary" onclick="goBack()">No, back</button>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>

</div>
{% endblock %}