{% extends 'main.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

<div class="container-sm">
    <h1> Customer home </h1>
    <p>this is what customer's view look like.</p>
    
    <h2>Make a reservation</h2>
    {% if categories %}

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Category name</th>
                <th scope="col">Offer</th>
                <!--<th scope="col">Max simultneous reservations</th>-->
                
               
               
                <th scope="col"> </th>

            </tr>
        </thead>
        <tbody>

            {% for category in categories %}
            <tr class="clickable-row" style="cursor: pointer;" title="Click to edit category"
                onclick="location.href='{% url 'edit_category' category.belongs_to_offer.id category.id %}'">

                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ category.category_name }} </td>
                <td>{{ category.belongs_to_offer }} </td>
                <!--<td>{{ category.max_simultaneous_reservations }} </td>-->
                
               
                

                <td> <button class="btn btn-success btn-reservation-calendar" style="width: 150px;"
                        data-offer-id="{{ category.belongs_to_offer.id }}" data-category-id="{{ category.id }}">  Reserve  </button>

                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% else %}
    <p>You do not have any categories. Begin by creating categories for your offers to organize them better. </p>
        <p>Each category can represent a different type of service or reservation slot you offer.</p>
    <p>Categories can be created from the offer detail page once you have offers set up.</p>
    {% endif %}


    <script src="{% static 'js/date_based_reservation.js' %}"></script>

</div>
{% endblock %}