{% extends 'main.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container-md">
    <h1> Edit category {{ category_name }} in offer {{ offer_name }} </h1>
    <form method="post" class="form">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">Save changes</button>
    </form>
    <a onclick="location.href='{% url 'delete_category' offer_id category_id %}'" class="btn btn-outline-success" id="addrow">Delete this category</a>

</div>
{% endblock %}