{% extends 'main.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container-md">
    <h1> Manager home </h1>
    <h2>My offers</h2>
    {% if offers %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Offer name</th>
                <th scope="col">Offer id</th>
                <th scope="col">Available from</th>
                <th scope="col">Available to</th>
                <th scope="col">Created at</th>
            </tr>
        </thead>
        <tbody>
            {% for offer in offers %}
            <tr class="clickable-row" onclick="location.href='{% url 'offer_detail' offer.id %}'"
                style="cursor: pointer;" title="Click to view offer detail">
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ offer.offer_name }} </td>
                <td>{{ offer.id }} </td>
                <td>{{ offer.available_from }} </td>
                <td>{{ offer.available_to }} </td>
                <td>{{ offer.created_at }} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'create_offer' %}" class="btn btn-outline-success" id="addrow">Add new offer</a>
    {% else %}
    <p>You do not have any offers.<br>
        <a href="{% url 'create_offer' %}" class="btn btn-outline-success" id="addrow">Add new offer</a>
    </p>
    {% endif %}

    <h2>My categories</h2>
    {% if categories %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Category name</th>
                <th scope="col">Offer</th>
                <th scope="col">Max simultneous reservations</th>
                <th scope="col">Additional time</th>
                <th scope="col">Max number of units</th>
                <th scope="col">Real number of units</th>
                <th scope="col">Created at</th>

            </tr>
        </thead>
        <tbody>

            {% for category in categories %}
            <tr class="clickable-row" style="cursor: pointer;" title="Click to edit category"
                onclick="location.href='{% url 'edit_category' category.belongs_to_offer.id category.id %}'">

                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ category.category_name }} </td>
                <td>{{ category.belongs_to_offer }} </td>
                <td>{{ category.max_simultneous_reservations }} </td>
                <td>{{ category.additional_time }} </td>
                <td>{{ category.max_count_of_units }} </td>
                <td>{{ category.get_unit_count }} </td>
                <td>{{ category.created_at }} </td>
                <td> <button class="btn btn-primary" data-offer-id="{{ category.belongs_to_offer.id }}" data-category-id="{{ category.id }}">Reserve this category</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% else %}
    <p>You do not have any categories. You can create a new category in offer detail.<br>

    </p>
    {% endif %}

    <h2>All users</h2>
    {% for user in Users %}
    {{user.username}} <br>
    {% endfor %}
    <br>

</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Add click event listeners to all submit buttons within the table
        document.querySelectorAll('.table .btn-primary').forEach(function (button) {
            button.addEventListener('click', function (event) {
                // Stop the event from bubbling up to the row
                event.stopPropagation();

                // Retrieve the offer ID and category ID from the button's data attributes
                var offerId = this.getAttribute('data-offer-id');
                var categoryId = this.getAttribute('data-category-id');

                // Construct the URL for the new reservation
                var url = `/new_reservation/${offerId}/${categoryId}`;

                // Navigate to the constructed URL
                window.location.href = url;
            });
        });
    });
</script>


{% endblock %}