{% extends 'main.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

<div class="container-md">
    <h1>Managed Reservations</h1>
    <p>You can click on these reservations and confirm or delete them.</p>

    {% if reservations %}
    <div class="table-responsive" style="max-height: 450px; overflow-y: auto;">

        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">ID</th>
                    <th scope="col">Category Name</th>
                    <th scope="col">Offer Name</th>
                    <th scope="col">Reservation From</th>
                    <th scope="col">Reservation To</th>
                    <th scope="col">Customer Email</th>
                    <th scope="col">Created at</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                {% for reservation in reservations %}
                <tr data-token="{{ reservation.verification_token }}" class="clickable-row">
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ reservation.id }}</td>
                    <td>{{ reservation.belongs_to_category.category_name }}</td>
                    <td>{{ reservation.belongs_to_category.belongs_to_offer.offer_name }}</td>
                    <td>{{ reservation.reservation_from }}</td>
                    <td>{{ reservation.reservation_to }}</td>
                    <td>{{ reservation.customer_email }}</td>
                    <td>{{ reservation.submission_time|date:"Y-m-d H:i" }}</td>
                    <td>{{ reservation.status}}</td>

                    <!--<td>{{ reservation.verification_token}}</td>-->
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>No reservations found.</p>
    </div>

    {% endif %}
</div>
<link rel="stylesheet" href="{% static 'base/css/style.css' %}" type="text/css">

<!-- Include jQuery from a CDN -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script src="{% static 'js/managed_reservations.js' %}"></script>

{% endblock %}