{% extends 'main.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container-md">
    <h1> Manager home </h1>
    <h2>My offers</h2>
    {% if offers %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Offer name</th>
                <th scope="col">Available from</th>
                <th scope="col">Available to</th>
                <th scope="col">Created at</th>
            </tr>
        </thead>
        <tbody>
            {% for offer in offers %}
            <tr class="clickable-row" onclick="location.href='{% url 'offer_detail' offer.id %}'"
                style="cursor: pointer;" title="Click to view offer detail">
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ offer.offer_name }} </td>
                <td>{{ offer.available_from }} </td>
                <td>{{ offer.available_to }} </td>
                <td>{{ offer.created_at }} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'create_offer' %}" class="btn btn-outline-success" id="addrow">Add new offer</a>
    {% else %}
    <p>You do not have any offers.<br>
        <a href="{% url 'create_offer' %}" class="btn btn-outline-success" id="addrow">Add new offer</a>
    </p>
    {% endif %}

    <h2>My units</h2>
    {% if units %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Unit name</th>
                <th scope="col">Offer</th>
                <th scope="col">Max simultneous reservations</th>
                <th scope="col">Additional time</th>
                <th scope="col">Number of units</th>
                <th scope="col">Created at</th>

            </tr>
        </thead>
        <tbody>
            
            {% for unit in units %}
            <tr class="clickable-row" style="cursor: pointer;" title="Click to edit unit"
             onclick="location.href='{% url 'edit_unit' unit.belongs_to_offer.id unit.id %}'">
                
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ unit.unit_name }} </td>
                <td>{{ unit.belongs_to_offer }} </td>
                <td>{{ unit.max_simultneous_reservations }} </td>
                <td>{{ unit.additional_time }} </td>
                <td>{{ unit.max_count_of_units }} </td>
                <td>{{ unit.created_at }} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'create_offer' %}" class="btn btn-outline-success" id="addrow">Add new offer</a>
    {% else %}
    <p>You do not have any units.<br>
        <a href="{% url 'create_offer' %}" class="btn btn-outline-success" id="addrow">Add new offer</a>
    </p>
    {% endif %}

    <h2>All users</h2>
    {% for user in Users %}
    {{user.username}} <br>
    {% endfor %}
    <br>

</div>

{% endblock %}