{% extends 'main.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}


<div class="container-md">
    <form id="scheduleForm">
        <div class="form-group">
            <label for="categorySelect">Select Category:</label>
            <select id="categorySelect" name="category" class="form-control">
                <option value="">--- Choose a Category ---</option>
                {% for category in categories %}
                <option value="{{ category.id }}">{{ category.category_name }}</option>
                {% endfor %}
            </select>
        </div>
        <!-- Omitted for brevity -->
    </form>
    <!-- Combined Date Input and Navigation Component -->
    <div class="d-flex align-items-center justify-content-center my-3">
        <button id="prevDay" class="btn btn-outline-secondary">&#60;</button> <!-- Left arrow for previous day -->
        <form method="get" action="" id="date-form" class="d-flex">
            <input type="date" id="dateInput" name="selected_date" required class="form-control mx-2">
            <!--<button type="submit" class="btn btn-primary" >Show Availability</button>-->
        </form>
        <button id="nextDay" class="btn btn-outline-secondary">&#62;</button> <!-- Right arrow for next day -->
    </div>
    <div id="reservation-table">
        <!-- Dynamic content from reservations_table.html will be loaded here -->
    </div>
</div>
<script src="{% static 'js/date_based_reservation.js' %}"></script>


{% endblock %}