{% extends 'main.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}

<div class="container-md">
    <h1>New reservation for '{{ category_name }}'</h1>
    
    <!-- Combined Date Input and Navigation Component -->
    <div class="d-flex align-items-center justify-content-center my-3">
        <button id="prevDay" class="btn btn-outline-secondary">&#60;</button> <!-- Left arrow for previous day -->
        <form method="get" action="" id="date-form" class="d-flex">
            <input type="date" id="dateInput" name="selected_date" required class="form-control mx-2">
            <!--<button type="submit" class="btn btn-primary" >Show Availability</button>-->
        </form>
        <button id="nextDay" class="btn btn-outline-secondary">&#62;</button> <!-- Right arrow for next day -->
    </div>

    <!--<div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
            Reservation for more days
        </label>
    </div>-->
    <p>
        Resevation can be made only 1 day in advance.
        To select reservation time, click in the table twice: from-to.
    </p>
    <script src="{% static 'js/date_based_reservation.js' %}"></script>
    <div id="reservation-table">
        <!-- Dynamic content from reservations_table.html will be loaded here -->
    </div>
    <div id="selection-info" class="alert alert-info" role="alert" style="display: none;">
        <strong>Selected Reservation:</strong>
        <span id="selected-date-info"></span>,
        <span id="start-time-info"></span> to
        <span id="end-time-info"></span> 
    </div>
    <button id="nextButton" class="btn btn-primary" disabled>Next</button> <!-- The Next button, initially disabled -->

</div>

{% endblock %}
