{% extends 'main.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}

<div class="container-md" >
    <h1> New reservation timetable '{{ category_name }}'</h1>
    <form method="get" action="" id="date-form">
        <input type="date" id="dateInput" name="selected_date" required>
        <button type="submit" class="btn btn-primary">Show Availability</button>
    </form>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
            Reservation for more days
        </label>
    </div>

    <script src="{% static 'js/date_based_reservation.js' %}"></script>
    <div id="reservation-table">
        <!-- Dynamic content from reservations_table.html will be loaded here -->
    </div>
    <div id="selection-info" class="alert alert-info" role="alert" style="display: none;">
        <strong>Selected Reservation:</strong>
        <span id="selected-date-info"></span>,
        <span id="start-time-info"></span> to
        <span id="end-time-info"></span> 
    </div>
    <button id="nextButton" class="btn btn-primary" disabled>Next</button> <!-- The Next button, initially disabled -->

</div>
{% endblock %}