{% extends 'main.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container-md">
    <h2>Delete Offer {{ offer_name }} </h2>

    <form method="POST">
        {% csrf_token %}
        <p>Are you sure that you want to delete the offer "{{offer_name}}"?</p>
        
        {% if categories %}
        <p>This action will also delete categories:</p>
        <ul>
            {% for category in categories %}
            <li>{{ category.category_name }}</li>
            {% endfor %}
        </ul>
        {% else %}
        <p>No categories associated with this offer.</p>
        {% endif %}
        <div>
            <button type="submit" class="btn btn-danger">Yes, Delete</button>

        </div>
    </form>
    <button type="submit" class="btn btn-primary" onclick="goBack()">No, back</button>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>

</div>
{% endblock %}