{% extends 'main.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container-md">
    <h1> {{ offer_name }} </h1>

    <h2> Categories in this offer </h2>
    {% if categories %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Category name</th>
                <th scope="col">Offer</th>
                <th scope="col">Max simultneous reservations</th>
                <th scope="col">Additional time</th>
                <th scope="col">Number of categories</th>
                <th scope="col">Created at</th>

            </tr>
        </thead>
        <tbody>

            {% for category in categories %}
            <tr class="clickable-row" style="cursor: pointer;" title="Click to edit category"
                onclick="location.href='{% url 'edit_category' category.belongs_to_offer.id category.id %}'">

                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ category.category_name }} </td>
                <td>{{ category.belongs_to_offer }} </td>
                <td>{{ category.max_simultneous_reservations }} </td>
                <td>{{ category.additional_time }} </td>
                <td>{{ category.count_of_units }} </td>
                <td>{{ category.created_at }} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a onclick="location.href='{% url 'create_category' offer_id %}'" class="btn btn-outline-success" id="addrow">Add new category</a>
    {% else %}
    <p>You do not have any categories for this offer.<br>
        <a onclick="location.href='{% url 'create_category' offer_id %}'" class="btn btn-outline-success" id="addrow">Add new category</a>
    </p>
    {% endif %}

    <h2> Edit offer {{ offer_name }} </h2>
    <form method="post" class="form">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">Save changes</button>
    </form>
    <a onclick="location.href='{% url 'delete_offer' offer_id  %}'" class="btn btn-danger" id="addrow">Delete this offer</a>

</div>
{% endblock %}