{% extends 'main.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container-md">
    <h1> {{ offer_name }} </h1>

    <h2> Categories in this offer </h2>
    {% if categories %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Category name</th>
                <th scope="col">Offer</th>
                <th scope="col">Max simultaneous reservations</th>
                <th scope="col">Additional time</th>
                <th scope="col">Number of categories</th>
                <th scope="col">Created at</th>
            </tr>
        </thead>
        <tbody>
            {% for category in categories %}
            <tr class="clickable-row" style="cursor: pointer;" title="Click to edit category"
                onclick="location.href='{% url 'edit_category' category.belongs_to_offer.id category.id %}'">
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ category.category_name }} </td>
                <td>{{ category.belongs_to_offer }} </td>
                <td>{{ category.max_simultaneous_reservations }} </td>
                <td>{{ category.additional_time }} </td>
                <td>{{ category.count_of_units }} </td>
                <td>{{ category.created_at }} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a onclick="location.href='{% url 'create_category' offer_id %}'" class="btn btn-outline-success" id="addrow">Add new category</a>
    {% else %}
    <p>You do not have any categories for this offer.<br>
        <a onclick="location.href='{% url 'create_category' offer_id %}'" class="btn btn-outline-success" id="addrow">Add new category</a>
    </p>
    {% endif %}

    <h2> Edit offer {{ offer_name }} </h2>
    <form method="post" class="form">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">Save changes</button>
    </form>

    <!-- Modified Delete Button to Trigger Modal -->
    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteOfferModal">
      Delete this offer
    </button>
</div>

<!-- Bootstrap Modal for Delete Confirmation -->
<div class="modal fade" id="deleteOfferModal" tabindex="-1" aria-labelledby="deleteOfferModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteOfferModalLabel">Confirm Delete</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="POST" action="{% url 'delete_offer' offer_id %}">
            {% csrf_token %}
            <p>Are you sure you want to delete the offer "{{offer_name}}"?</p>

            {% if categories %}
            <p>This action will also delete categories:</p>
            <ul>
                {% for category in categories %}
                <li>{{ category.category_name }}</li>
                {% endfor %}
            </ul>
            {% else %}
            <p>No categories associated with this offer.</p>
            {% endif %}
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No, back</button>
                <button type="submit" class="btn btn-danger">Yes, Delete</button>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
