{% extends 'main.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<form action="{% url 'submit_reservation' %}" method="post" class="form">
    {% csrf_token %}
    <p>Start Date: {{ start_date }}</p>
    <p>End Date: {{ end_date }}</p>
    <p>Category: {{ category_name }}</p>
    <input type="hidden" name="start_date" value="{{ start_date }}">
    <input type="hidden" name="end_date" value="{{ end_date }}">
    <input type="hidden" name="category" value="{{ category }}">
    <input type="text" name="name" placeholder="Your Name" required>
    <input type="email" name="email" placeholder="Your Email" required>
    <button type="submit">Submit Reservation</button>
</form>
{% endblock %}