{% extends 'main.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center">Reset Password</h5>
                    <p class="text-center text-muted">Next instructions will be sent to your email.</p>

                    <form method="post" novalidate class="form">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="mb-3">
                                
                                {{ field|as_crispy_field }} 
                                {% if field.errors %}
                                    <div class="invalid-feedback">
                                        {{ field.errors|striptags }}
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                        <div class="mb-3 text-center">
                            <input type="submit" value="Send" class="btn btn-primary">
                            <a href="{% url 'login' %}" class="btn btn-outline-secondary">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
