{% extends 'main.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6"> <!-- Adjust column size as needed -->
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Register</h5>
                    <form method="POST" novalidate class="form">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="mb-3">
                            <button type="submit" class="btn btn-success">Register</button>
                        </div>
                        <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
                        <p>Forgot your password? <a href="{% url 'password-reset' %}">Reset password</a></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
